venv/
venv/*
db_curd/myproject/__pycache__/

db_curd/employees/__pycache__/

**/migrations/
!**/migrations/__init__.py


db_curd/employees/\.DS_Store

\.DS_Store

logs/

logs/global_botjet.log

*.pyc

.first_run_done

.python-version

parentkey.key